@media (max-width: 1100px) {
  #header .search input {
    display: none;
  }
  #header .search {
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
  }
  .profile_section ul li:nth-child(3) {
    display: flex;
  }
  .profile_section ul li:nth-child(1) {
    display: none;
  }
  .profile_section ul li:nth-child(2) {
    display: none;
  }

  nav ul li:nth-child(6) {
    display: flex;
  }
  .group {
    display: none;
  }
  .left_side {
    display: none;
  }
}
@media (max-width: 992px) {
  nav ul li {
    display: none;
  }
  nav ul li:nth-child(6) {
    display: none;
  }
  .menu_toggler {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .right_side {
    display: none;
  }
  .story_wrapper .story:nth-child(1) {
    display: none;
  }
  .create_room ul li:nth-child(1) {
    display: none;
  }
  /* .create_room ul li:nth-child(2) {
    display: none;
  } */
  .more_room {
    right: 48px;
    top: 50%;
  }
}
@media (max-width: 600px) {
  .more_room {
    right: 24px;
    top: 50%;
  }
}
