/* common style */
@font-face {
  font-family: Helvetica;
  src: url(Helvetica);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Helvetica;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.center {
  display: flex;
  align-items: center;
}
/* header style */
#header {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #242526;
  padding: 0 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
#header .search_area {
  display: flex;
  align-items: center;
}
#header .search_area .logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
#header .search_area .logo img {
  width: 100%;
}
#header .search {
  height: 40px;
  width: 240px;
  background-color: #3a3b3c;
  color: #e4e6eb;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
#header .search span {
  width: 30px;
}
#header .search input {
  flex-grow: 1;
  border: none;
  outline: none;
  height: 100%;
  background-color: unset;
}
#header .search input::placeholder {
  color: #e4e6eb;
  font-size: 15px;
}
.menu_toggler {
  display: none;
}
.menu_toggler span {
  color: #cbcdd2;
  font-size: 35px;
}
nav {
}
nav ul {
}

nav ul li a {
  display: inline-block;
  padding: 10px 35px;
  border-radius: 10px;
  transition: 0.3s;
  position: relative;
}
nav ul li a:hover {
  background-color: #3a3b3c;
  cursor: pointer;
}
nav ul li a::after {
  display: none;
  content: attr(data-tag);
  background: #cbcdd2;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  color: #1b1c1e;
  text-align: center;
  font-size: 16px;
  padding: 7px 15px;
  border-radius: 8px;
}

nav ul li a:hover:after {
  display: block;
}
nav ul li:nth-child(6) {
  display: none;
}
nav ul li:first-child a span {
  color: #7474e9;
}
nav ul li:first-child a {
  padding: 10px 35px;
  border-bottom: 2px solid #7474e9;
}
nav ul li:first-child a:hover {
  background: unset;
  border-radius: unset;
}
nav ul li:first-child a {
  background: unset;
  border-radius: unset;
}

nav ul li span {
  color: #999;
  font-size: 40px;
}
li a[data-tag="Watch"] span {
  position: relative;
}
li a[data-tag="Watch"] span::after {
  content: "9+";
  background: red;
  border-radius: 25px;
  position: absolute;
  top: -6px;
  right: -20px;
  color: white;
  font-size: 12px;
  padding: 4px 2px;
}

.profile_section {
}
.profile_section ul {
}

.profile_section ul li {
  margin: 0px 10px;
  color: #999;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #3a3b3c;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.profile_section ul li:nth-child(3) {
  display: none;
}
.profile_section ul li:first-child {
  color: #999;
  border-radius: 25px;
  padding: 5px 10px;
  transition: 0.3s;
  cursor: pointer;
  width: unset;
  height: unset;
  background: unset;
}
.profile_section ul li:first-child:hover {
  background-color: #3a3b3c;
}
.profile_section ul li:first-child img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

.profile_section ul li a {
}

.profile_section ul li span,
.profile_section ul li i {
  cursor: pointer;
}
.profile_section ul li:hover {
  background-color: #77797b;
}
/* main section style */
main {
  max-width: 1464px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: #1c1e21;
}
.left_side,
.right_side {
  flex-basis: 330px;
  height: 100vh;
  padding-top: 56px;
}
.middle_section {
  flex-grow: 1;
  height: 100vh;
  background: #1c1e21;
  padding-top: 75px;
}
.left_side {
  padding: 75px 15px 0 15px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: unset;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
  display: none;
}
.left_side:hover::-webkit-scrollbar-thumb {
  display: block;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.left_side ul {
  width: 100%;
  margin-bottom: 10px;
}
.left_side ul li {
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s;
}
.left_side ul li a {
  display: flex;
  align-items: center;
}
.left_side ul li:hover {
  background: #3a3b3c;
}
.left_side ul li a {
  color: white;
}
.left_side ul li a img {
  height: 28px;
  width: 28px;
  margin-right: 10px;
}
.left_side ul li:first-child a img {
  border-radius: 50%;
}
.left_side ul li:last-child {
  color: white;
}
.left_side ul li:last-child div {
  height: 28px;
  width: 28px;
  margin-right: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3a3b3c;
  border-radius: 50%;
}
.separator {
  width: 100%;
  height: 1px;
  background: #3a3b3c;
  margin-bottom: 20px;
}
.shortcut_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shortcut_title h2 {
  font-size: 16px;
  font-weight: 600;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
}
.shortcut_title button {
  display: none;
  background-color: unset;
  border: none;
  outline: none;
  color: #6f6fe2;
  padding: 7px;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 16px;
  cursor: pointer;
}
.shortcut_title:hover button {
  display: block;
}
.shortcut_title button:hover {
  background: #3a3b3c;
}
.footer_text {
  margin-bottom: 15px;
}
.footer_text a {
  color: #b0b3b8;
  font-size: 12px;
}
.footer_text a span {
  transform: translateY(8px);
}
/* main section style */
.story_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.create_story {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 220px;
  width: 18%;
  background: #3a3b3c;
  border-radius: 10px;
}
.create_story .bottom {
  flex-basis: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.create_story .bottom h4 {
  color: white;
  margin-bottom: 10px;
}
.story_profile {
  width: 100%;
  flex-grow: 1;
}
.story_profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.create_btn {
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
}
.create_btn span {
  background: #297be5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 2px solid #3a3b3c;
  color: white;
}
.story {
  position: relative;
  height: 220px;
  width: 18%;
  background: #3a3b3c;
  border-radius: 10px;
  overflow: hidden;
}

.story h4 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  font-size: 13px;
  font-weight: 400;
  overflow: hidden;
  width: 98%;
  margin-bottom: 10px;
  padding: 2%;
}
.story_avatar {
  position: absolute;
  height: 28px;
  width: 28px;
  left: 10px;
  top: 12px;
  z-index: 100;
}
.story_avatar img {
  border-radius: 50%;
}
.story_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.more_story {
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3a3b3c;
  color: white;
}
.story:hover .story_img {
  transform: scale(1.1);
}
.post_creation {
  max-width: 600px;
  margin: 25px auto;
  padding: 10px;
  background: #242526;
}
.post_creation .top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.post_creation .top .profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.post_creation .top .profile img {
  width: 100%;
  border-radius: 50%;
}
.post_creation .top input {
  flex: 1;
  border: 0;
  outline: 0;
  padding: 10px 13px;
  background: #3a3b3c;
  color: #b0b3b8;
  font-weight: 400;
  font-size: 17px;
  border-radius: 25px;
  margin-left: 10px;
}
.post_creation .bottom ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post_creation .bottom ul li {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  width: 100%;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  transition: 0.3s;
  color: #b0b3b8;
}
.post_creation .bottom ul li span {
  font-size: 30px;
  margin-right: 5px;
}
.post_creation .bottom ul li:nth-child(1) span {
  color: #f4556f;
}
.post_creation .bottom ul li:nth-child(2) span {
  color: #58c472;
}
.post_creation .bottom ul li:nth-child(3) span {
  color: #f8c03e;
}
