/* common style */
@font-face {
  font-family: Helvetica;
  src: url(Helvetica);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Helvetica;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.center {
  display: flex;
  align-items: center;
}
/* header style */
#header {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #242526;
  padding: 0 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}
#header .search_area {
  display: flex;
  align-items: center;
}
#header .search_area .logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
#header .search_area .logo img {
  width: 100%;
}
#header .search {
  height: 40px;
  width: 240px;
  background-color: #3a3b3c;
  color: #e4e6eb;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
#header .search span {
  width: 30px;
}
#header .search input {
  flex-grow: 1;
  border: none;
  outline: none;
  height: 100%;
  background-color: unset;
}
#header .search input::placeholder {
  color: #e4e6eb;
  font-size: 15px;
}
.menu_toggler {
  display: none;
}
.menu_toggler span {
  color: #cbcdd2;
  font-size: 35px;
}
nav {
}
nav ul {
}

nav ul li a {
  display: inline-block;
  padding: 10px 35px;
  border-radius: 10px;
  transition: 0.3s;
  position: relative;
}
nav ul li a:hover {
  background-color: #3a3b3c;
  cursor: pointer;
}
nav ul li a::after {
  display: none;
  content: attr(data-tag);
  background: #cbcdd2;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  color: #1b1c1e;
  text-align: center;
  font-size: 16px;
  padding: 7px 15px;
  border-radius: 8px;
}

nav ul li a:hover:after {
  display: block;
}
nav ul li:nth-child(6) {
  display: none;
}
nav ul li:first-child a span {
  color: #7474e9;
}
nav ul li:first-child a {
  padding: 10px 35px;
  border-bottom: 2px solid #7474e9;
}
nav ul li:first-child a:hover {
  background: unset;
  border-radius: unset;
}
nav ul li:first-child a {
  background: unset;
  border-radius: unset;
}

nav ul li span {
  color: #999;
  font-size: 40px;
}
li a span {
  position: relative;
}
li a span::after {
  content: attr(data-badge);
  background: red;
  border-radius: 25px;
  position: absolute;
  top: -6px;
  right: -20px;
  color: white;
  font-size: 12px;
  padding: 4px 2px;
}
li:nth-child(1) a span::after {
  display: none;
}

.profile_section {
}
.profile_section ul {
}

.profile_section ul li {
  margin: 0px 10px;
  color: #999;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #3a3b3c;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.profile_section ul li:nth-child(3) {
  display: none;
}
.profile_section ul li:first-child {
  color: #999;
  border-radius: 25px;
  padding: 5px 10px;
  transition: 0.3s;
  cursor: pointer;
  width: unset;
  height: unset;
  background: unset;
}
.profile_section ul li:first-child:hover {
  background-color: #3a3b3c;
}
.profile_section ul li:first-child img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

.profile_section ul li a {
}

.profile_section ul li span,
.profile_section ul li i {
  cursor: pointer;
}
.profile_section ul li:hover {
  background-color: #77797b;
}
/* main section style */
main {
  max-width: 1464px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: #1c1e21;
}
.left_side,
.right_side {
  flex-basis: 400px;
  height: 100vh;
  padding-top: 56px;
}
.middle_section {
  flex-grow: 1;
  height: 100vh;
  background: #1c1e21;
  padding-top: 75px;
  overflow: auto;
}
.left_side {
  padding: 75px 15px 0 15px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: unset;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
  display: none;
}
.left_side:hover::-webkit-scrollbar-thumb {
  display: block;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.left_side ul {
  width: 100%;
  margin-bottom: 10px;
}
.left_side ul li {
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s;
}
.left_side ul li a {
  display: flex;
  align-items: center;
}
.left_side ul li:hover {
  background: #3a3b3c;
}
.left_side ul li a {
  color: white;
}
.left_side ul li a img {
  height: 28px;
  width: 28px;
  margin-right: 10px;
}
.left_side ul li:first-child a img {
  border-radius: 50%;
}
.left_side ul li:last-child {
  color: white;
}
.left_side ul li:last-child div {
  height: 28px;
  width: 28px;
  margin-right: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3a3b3c;
  border-radius: 50%;
}
.separator {
  width: 100%;
  height: 1px;
  background: #3a3b3c;
  margin-bottom: 20px;
}
.shortcut_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shortcut_title h2 {
  font-size: 16px;
  font-weight: 600;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
}
.shortcut_title button {
  display: none;
  background-color: unset;
  border: none;
  outline: none;
  color: #6f6fe2;
  padding: 7px;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 16px;
  cursor: pointer;
}
.shortcut_title:hover button {
  display: block;
}
.shortcut_title button:hover {
  background: #3a3b3c;
}
.footer_text {
  margin-bottom: 15px;
}
.footer_text a {
  color: #b0b3b8;
  font-size: 12px;
}
.footer_text a span {
  transform: translateY(8px);
}
/* main section style */
.story_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.create_story {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 220px;
  width: 18%;
  background: #3a3b3c;
  border-radius: 10px;
}
.create_story .bottom {
  flex-basis: 59px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.create_story .bottom h4 {
  color: white;
  margin-bottom: 10px;
}
.story_profile {
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
}
.story_profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.create_btn {
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
}
.create_btn span {
  background: #297be5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 2px solid #3a3b3c;
  color: white;
}
.story {
  position: relative;
  height: 220px;
  width: 18%;
  background: #3a3b3c;
  border-radius: 10px;
  overflow: hidden;
}

.story h4 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  font-size: 13px;
  font-weight: 400;
  overflow: hidden;
  width: 98%;
  margin-bottom: 10px;
  padding: 2%;
}
.story_avatar {
  position: absolute;
  height: 28px;
  width: 28px;
  left: 10px;
  top: 12px;
  z-index: 100;
}
.story_avatar img {
  border-radius: 50%;
}
.story_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.more_story {
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3a3b3c;
  color: white;
}
.story:hover .story_img {
  transform: scale(1.1);
}
.post_creation {
  max-width: 600px;
  margin: 25px auto;
  padding: 10px;
  background: #242526;
}
.post_creation .top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.post_creation .top .profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.post_creation .top .profile img {
  width: 100%;
  border-radius: 50%;
}
.post_creation .top input {
  flex: 1;
  border: 0;
  outline: 0;
  padding: 10px 13px;
  background: #3a3b3c;
  color: #b0b3b8;
  font-weight: 400;
  font-size: 17px;
  border-radius: 25px;
  margin-left: 10px;
}
.post_creation .bottom ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post_creation .bottom ul li {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  width: 100%;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  transition: 0.3s;
  color: #b0b3b8;
}
.post_creation .bottom ul li span {
  font-size: 30px;
  margin-right: 5px;
}
.post_creation .bottom ul li:nth-child(1) span {
  color: #f4556f;
}
.post_creation .bottom ul li:nth-child(2) span {
  color: #58c472;
}
.post_creation .bottom ul li:nth-child(3) span {
  color: #f8c03e;
}
.create_room {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  position: relative;
  max-width: 600px;
  background: #242526;
  margin: 20px auto;
  padding: 15px 15px 5px;
  border-radius: 6px;
}
.create_room button {
  display: flex;
  background: #18191a;
  border: none;
  outline: none;
  padding: 10px 15px;
  border: 2px solid #5d79e2;
  border-radius: 25px;
  color: #4599ff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.create_room button img {
  width: 25px;
  margin-right: 8px;
}
.create_room ul {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
}
.create_room ul li {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.create_room ul li img {
  width: 100%;
  border-radius: 50%;
}
.create_room ul li::after {
  width: 12px;
  height: 12px;
  content: "";
  background: #31a24c;
  position: absolute;
  right: -2px;
  bottom: 0;
  border-radius: 50%;
  z-index: 300;
  border: 2px solid #18191a;
}
.more_room {
  position: absolute;
  right: 39px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  background: #3a3b3c;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.more_room span {
  font-size: 30px;
  color: white;
}
.post {
  max-width: 600px;
  background: #242526;
  margin: 20px auto;
  padding: 15px 15px 5px;
  border-radius: 6px;
}
.post_title {
  padding: 0 15px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.post_title .icon {
  width: 45px;
  height: 45px;
  position: relative;
  margin-right: 10px;
}
.post_about {
  flex: 1;
  padding: 0 10px;
  margin-bottom: 20px;
}
.post_title .icon img {
  width: 100%;
  border-radius: 50%;
}
.post_title .icon::after {
  width: 12px;
  height: 12px;
  content: "";
  background: #31a24c;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  z-index: 300;
  border: 2px solid #18191a;
}
.post_about {
  font-size: 14px;
  color: #a2a3a5;
}
.post_about a {
  text-transform: uppercase;
  color: white;
}
a {
  text-decoration: none;
}
.date {
  display: flex;
  align-items: center;
  padding-top: 2px;
}
.share_with {
  width: 12px;
  height: 12px;
}
.share_with span {
  font-size: 15px !important;
}
.options {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e4e6eb;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.post_article p {
  padding: 0 15px;
  font-size: 14px;
  line-height: 19px;
  color: #e4e6eb;
  letter-spacing: 1px;
}
.video {
  margin-top: 15px;
}
.video img {
  width: 100%;
  display: block;
  min-height: 300px;
  border-radius: 2px;
  object-fit: cover;
}
.video iframe {
  width: 100%;
  display: block;
  min-height: 300px;
  border-radius: 2px;
  object-fit: cover;
}
.post .bottom {
  padding: 0 15px;
}
.reactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.likes {
  display: flex;
  align-items: center;
  color: white;
}
.likes div {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.likes div img:first-child {
  transform: translateX(3px);
}
.likes div img {
  width: 20px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50%;
}
.comment_share {
  display: flex;
  align-items: center;
}
.comment_share a {
  color: rgb(173, 173, 173);
  margin-left: 10px;
}
.bottom .divider {
  margin: 4px 0;
}
.actions ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.actions ul li {
  flex: 1;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #b0b3b8;
  font-weight: 600;
  font-size: 14px;
  transition: 0.3s;
}
.actions ul li img {
  margin-right: 5px;
}
/* right_side style */
.right_side {
  padding: 20px;
  flex-basis: 400px;
  overflow: auto;
  padding: 75px 15px 0 15px;
  overflow: auto;
}
.birth_day {
  background: #242526;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
}
.birth_day .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.birth_day .top h4 {
  display: flex;
  align-items: center;
  color: #e4e6eb;
  font-weight: 500;
  font-size: 14px;
}
.birth_day .top button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}
.birth_day .top button {
  background-color: unset;
  outline: none;
  border: none;
}
.birth_day .top button i {
  color: white;
  font-size: 15px;
}
.birth_day .bottom a {
  color: #c7c7c7;
  font-weight: 400;
}
.sponsored h4 {
  color: #b0b3b8;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
}
.sponsor_box {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  transition: 0.2s;
}
.sponsor_img {
  width: 135px;
}
.sponsor_img img {
  border-radius: 8px;
  width: 100%;
}
.sponsor_text {
  width: 100%;
  margin-left: 15px;
}
.sponsor_text h6 {
  font-weight: 600;
  line-height: 19px;
  font-size: 14px;
  color: #e4e6eb;
}
.sponsor_text small {
  font-weight: 400;
  line-height: 16px;
  font-size: 12px;
  color: #969393;
}
.contacts .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.contacts .top h4 {
  color: #b0b3b8;
  font-size: 16px;
  font-weight: 600;
}
.contacts .top ul {
  display: flex;
  align-items: center;
}
.contacts .top ul li {
  height: 32px;
  width: 32px;
  transition: 0.2s;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  cursor: pointer;
}
.contacts .top ul li span {
  color: #b8bbbf;
  font-size: 22px;
}
.active_contacts ul {
  width: 100%;
}
.active_contacts ul li {
  color: #e4e6eb;
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
  transition: 0.2s;
  display: flex;
  align-items: center;
}
.contact_icon {
  width: 30px !important;
  height: 30px !important;
  margin-right: 10px;
  position: relative;
}
.contact_icon img {
  border-radius: 50%;
  width: 30px;
  object-fit: cover;
}
.contact_icon::after {
  content: "";
  background: #31a24c;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  bottom: 4px;
  right: 0;
  position: absolute;
}
.group_conversation h4 {
  color: #b0b3b8;
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 10px;
}
.active_contacts ul {
  width: 100%;
}
.active_contacts ul li a img {
  margin-right: 10px;
}
.active_contacts ul li a {
  color: #e4e6eb;
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
  transition: 0.2s;
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: unset;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
  display: none;
}
.right_side:hover::-webkit-scrollbar-thumb {
  display: block;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
