/* common style */
@font-face {
  font-family: Helvetica;
  src: url(Helvetica);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Helvetica;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.center {
  display: flex;
  align-items: center;
}
/* header style */
#header {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #242526;
  padding: 0 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
#header .search_area {
  display: flex;
  align-items: center;
}
#header .search_area .logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
#header .search_area .logo img {
  width: 100%;
}
#header .search {
  height: 40px;
  width: 240px;
  background-color: #3a3b3c;
  color: #e4e6eb;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
#header .search span {
  width: 30px;
}
#header .search input {
  flex-grow: 1;
  border: none;
  outline: none;
  height: 100%;
  background-color: unset;
}
#header .search input::placeholder {
  color: #e4e6eb;
  font-size: 15px;
}
.menu_toggler {
  display: none;
}
.menu_toggler span {
  color: #cbcdd2;
  font-size: 35px;
}
nav {
}
nav ul {
}

nav ul li a {
  display: inline-block;
  padding: 10px 35px;
  border-radius: 10px;
  transition: 0.3s;
  position: relative;
}
nav ul li a:hover {
  background-color: #3a3b3c;
  cursor: pointer;
}
nav ul li a::after {
  display: none;
  content: attr(data-tag);
  background: #cbcdd2;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  color: #1b1c1e;
  text-align: center;
  font-size: 16px;
  padding: 7px 15px;
  border-radius: 8px;
}

nav ul li a:hover:after {
  display: block;
}
nav ul li:nth-child(6) {
  display: none;
}
nav ul li:first-child a span {
  color: #7474e9;
}
nav ul li:first-child a {
  padding: 10px 35px;
  border-bottom: 2px solid #7474e9;
}
nav ul li:first-child a:hover {
  background: unset;
  border-radius: unset;
}
nav ul li:first-child a {
  background: unset;
  border-radius: unset;
}

nav ul li span {
  color: #999;
  font-size: 40px;
}
.profile_section {
}
.profile_section ul {
}

.profile_section ul li {
  margin: 0px 10px;
  color: #999;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #3a3b3c;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.profile_section ul li:nth-child(3) {
  display: none;
}
.profile_section ul li:first-child {
  color: #999;
  border-radius: 25px;
  padding: 5px 10px;
  transition: 0.3s;
  cursor: pointer;
  width: unset;
  height: unset;
  background: unset;
}
.profile_section ul li:first-child:hover {
  background-color: #3a3b3c;
}
.profile_section ul li:first-child img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

.profile_section ul li a {
}

.profile_section ul li span,
.profile_section ul li i {
  cursor: pointer;
}
.profile_section ul li:hover {
  background-color: #77797b;
}
/* main section style */
main {
  max-width: 1464px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: #1c1e21;
}
.left_side,
.right_side {
  flex-basis: 330px;
  height: 100vh;
  padding-top: 56px;
}
.middle_section {
  flex-grow: 1;
  height: 100vh;
  background: #3a3b3c;
}
.left_side {
  padding: 75px 15px 0 15px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: unset;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
  display: none;
}
.left_side:hover::-webkit-scrollbar-thumb {
  display: block;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.left_side ul {
  width: 100%;
  margin-bottom: 10px;
}
.left_side ul li {
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s;
}
.left_side ul li a {
  display: flex;
  align-items: center;
}
.left_side ul li:hover {
  background: #3a3b3c;
}
.left_side ul li a {
  color: white;
}
.left_side ul li a img {
  height: 28px;
  width: 28px;
  margin-right: 10px;
}
.left_side ul li:first-child a img {
  border-radius: 50%;
}
.left_side ul li:last-child {
  color: white;
}
.left_side ul li:last-child div {
  height: 28px;
  width: 28px;
  margin-right: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3a3b3c;
  border-radius: 50%;
}
.separator {
  width: 100%;
  height: 1px;
  background: #3a3b3c;
  margin-bottom: 20px;
}
.shortcut_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shortcut_title h2 {
  font-size: 16px;
  font-weight: 600;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
}
.shortcut_title button {
  display: none;
  background-color: unset;
  border: none;
  outline: none;
  color: #6f6fe2;
  padding: 7px;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 16px;
  cursor: pointer;
}
.shortcut_title:hover button {
  display: block;
}
.shortcut_title button:hover {
  background: #3a3b3c;
}
.footer_text {
  margin-bottom: 15px;
}
.footer_text a {
  color: #b0b3b8;
  font-size: 12px;
}
.footer_text a span {
  transform: translateY(8px);
}
